<style>
    .item_img{
        width:100px;
    }
</style>
<script>
    $(document).ready(function(){
        $('#update_btn').click(function(){
            $('#update_form').attr(
                {
                    'enctype': 'multipart/form-data',
                    'action':'[[@{/item/updateimpl}]]',
                    'method':'post'
                }
            );
            $('#update_form').submit();
        });

        $('#delete_btn').click(function(){
            id = $('#id').val();
            var c =confirm('삭제하시겠습니까?');
            if (c == true){
                location.href='/item/deleteimpl?id='+id;
            }
        });
    });
</script>
<div class="container">
    <div class="col-sm-5">
        <h2>🎁Item Detail🎁</h2>
        <form id="update_form">
            <div class="form-group">
                <!-- 기존이미지, 새로운 이미지 존재X-->
                <label for="imgname">BEFORE IMG:</label>
                <img class="item_img" th:src="@{|/img/${ditem.imgname}|}">
                <input id="imgname"  type="hidden" name="imgname" th:value="${ditem.imgname}">
            </div>
                 <!--새로운 이미지, 기존이미지, 새로운 이미지 존재O-->
            <div class="form-group">
                <label for="img">NEW IMG:</label>
                <input type="file" class="form-control" id="img" th:value="${ditem.img}" name="img">
            </div>
            <div class="form-group">
                <label for="id">ID:</label>
                <input type="text" class="form-control" id="id" th:value="${ditem.id}" name="id" readonly>
            </div>
            <div class="form-group">
                <label for="Name">Name:</label>
                <input type="text" class="form-control" id="name" th:value="${ditem.name}" name="name">
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="number" class="form-control" id="price" th:value="${ditem.price}" name="price">
            </div>
        </form>
        <button id="update_btn" class="btn btn-default">UPDATE</button>
        <button id="delete_btn" class="btn btn-default">DELETE</button>
    </div>
</div>