<style>
  #all {
    width: 400px;
    height: 200px;
    overflow: auto;
    border: 2px solid red;
  }

  #me {
    width: 400px;
    height: 200px;
    overflow: auto;
    border: 2px solid blue;
  }

  #to {
    width: 400px;
    height: 200px;
    overflow: auto;
    border: 2px solid green;
  }
</style>

<script>
  var stompClient = null;
  var id = '[[${session.logincust.id}]]';
  // 서버소켓에 연결
  function connect() {
    var socket = new SockJS('http://10.10.10.189/ws');
    stompClient = Stomp.over(socket);

    stompClient.connect({}, function(frame) {
      stompClient.subscribe('/send/to/'+id, function(msg) {
        $("#to").prepend(
                "<h4>" + JSON.parse(msg.body).sendid +":"+
                JSON.parse(msg.body).content1
                + "</h4>");
      });
    });
  }

  // 서버소켓에 연결끊기
  // function disconnect() {
  //   if (stompClient !== null) {
  //     stompClient.disconnect();
  //   }
  //   setConnected(false);
  //   console.log("Disconnected");
  // }

  // connect&disconnect버턴 활성화/비활성화
  function setConnected(connected) {
    if (connected) {
      $("#status").text("Connected");
    } else {
      $("#status").text("Disconnected");
    }
  }

  // 서버에 메세지 요청 메서드
  function sendTo() {
    var receivedid ='admin';
    var msg = JSON.stringify({
      'sendid' : id,
      'receiveid' : receivedid,
      'content1' : $('#totext').val()
    });
    stompClient.send('/receiveto', {}, msg);
  }
  $(document).ready(function() {
    connect();
    $("#sendto").click(function() {
      sendTo();
    });
  });
</script>


<div class="container">
  <div class="col-sm-5">
    <h1>Admin</h1>
    <H1 th:text="${session.logincust.id}">ID</H1>
    <H1 id="status">Status</H1>

    <input type="text" id="totext"><button id="sendto">Send</button>
    <div id="to"></div>

  </div>
</div>