<style>
    .mall_img{
        width:300px;
    }
</style>
<script>
    $(document).ready(function(){
        $('#update_btn').click(function(){
            $('#register_form').attr(
                {
                    'enctype': 'multipart/form-data',
                    'action':'[[@{/mall/updateimpl}]]',
                    'method':'post'
                }
            );
            $('#register_form').submit();
        });

        $('#delete_btn').click(function(){
            id = $('#id').val();
            var c =confirm('삭제하시겠습니까?');
            if (c == true){
                var id = $('#id').val();
                location.href='/mall/deleteimpl?id='+id;
            }
        });
    });
</script>

<div class="container">
    <div class="col-sm-5">
        <h2>🔎Mall Detail🔎</h2>
        <form id="register_form">
            <div class="form-group">
                <div class="form-group">
                    <!-- 기존이미지, 새로운 이미지 존재X-->
                    <label for="imgname">BEFORE IMG:</label>
                    <img class="mall_img" th:src="@{|/img/${dmall.imgname}|}">
                    <input id="imgname"  type="hidden" name="imgname" th:value="${dmall.imgname}">
                </div>
                <!--새로운 이미지, 기존이미지, 새로운 이미지 존재O-->
                <div class="form-group">
                    <label for="img">NEW IMG:</label>
                    <input type="file" class="form-control" id="img" th:value="${dmall.img}" name="img">
                </div>
                <label for="id">ID:</label>
                <input type="text" class="form-control" id="id" th:value="${dmall.id}" name="id" readonly>
            </div>
            <div class="form-group">
                <label for="Name">Name:</label>
                <input type="text" class="form-control" id="name" th:value="${dmall.name}" name="name">
            </div>

            <div class="form-group">
                <label for="admin">admin:</label>
                <input type="text" class="form-control" id="admin" th:value="${dmall.admin}" name="admin">
            </div>
            <div class="form-group">
                <label for="number">number:</label>
                <input type="number" class="form-control" id="number" th:value="${dmall.number}" name="number">
            </div>
            <div class="form-group">
                <label for="address">address:</label>
                <input type="text" class="form-control" id="address" th:value="${dmall.address}" name="address">
            </div>
            <div class="form-group">
                <label for="address">opentime:</label>
                <input type="time" class="form-control" id="opentime" th:value="${dmall.opentime}" name="opentime">
            </div>
            <div class="form-group">
                <label for="address">closetime:</label>
                <input type="time" class="form-control" id="closetime" th:value="${dmall.closetime}" name="closetime">
            </div>
        </form>
        <button id="update_btn" class="btn btn-default">UPDATE</button>
        <button id="delete_btn" class="btn btn-default">DELETE</button>
    </div>
</div>